:root {
	--primary-color: #e3097e;
	--secondary-color: #fedb27;
	--text-color: #333;
	--background-color: #fedb27;
	--card-background: #fff;
	--shadow-color: rgba(0, 0, 0, 0.1);
	--accent-color: #001489;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "verdana", sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.6;
}

main {
	margin: 0 auto;
	min-height: calc(100vh - 3rem);
}

header {
	text-align: center;
	margin-bottom: 3rem;
	padding: 2rem 1rem;

	position: relative;
	& img {
		max-height: 10vh;
	}
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 2rem;
}

nav a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 400;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	transition: color 0.3s ease;
}

nav a:hover {
	color: var(--secondary-color);
}

h1 {
	font-size: 2rem;
	color: var(--primary-color);
	text-shadow: 2px 2px 4px var(--shadow-color);
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--primary-color);
	text-align: center;
}

section {
	margin-bottom: 3rem;
	padding: 0 1rem;
}

.reload-button {
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 50px;
	padding: 0.6rem 1.5rem;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 0 4px 6px var(--shadow-color);
	transition: background-color 0.3s ease, transform 0.2s ease;
	margin-bottom: 2rem;
}
.joke-random {
	margin: 3rem 0;
}
.reload-button:hover {
	transform: translateY(-2px);
}

.reload-button:active {
	transform: translateY(0);
}

.loading {
	text-align: center;
	font-size: 1.2rem;
	padding: 2rem;
	color: var(--primary-color);
}
.get-joke,
button form {
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 50px;
	padding: 0.8rem 2rem;
	font-size: 1.2rem;
	font-family: "Jura", sans-serif;
	cursor: pointer;
	box-shadow: 0 4px 6px var(--shadow-color);
	transition: background-color 0.3s ease, transform 0.2s ease;
	margin-bottom: 2rem;
}

.get-joke:hover {
	transform: translateY(-2px);
}

.get-joke:active {
	transform: translateY(0);
}

.joke {
	background-color: var(--card-background);
	padding: 1.5rem;
	margin: 2rem;
	position: relative;
	transition: transform 0.3s ease;
}

.joke:before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	border: 2px dashed var(--card-background);
	box-sizing: border-box;
}

.joke:hover {
	transform: translateY(-5px);
}

.question {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

.reponse {
	font-size: 1.2rem;
	color: var(--primary-color);
	font-weight: 500;
}

.all-jokes {
	display: flex;
	flex-direction: column;
}

footer {
	text-align: center;
	padding: 1rem;
	background-color: var(--primary-color);
	color: white;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	background-color: var(--card-background);
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 6px 12px var(--shadow-color);
}

.form-group {
	margin-bottom: 1.5rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

input,
textarea {
	width: 100%;
	padding: 0.8rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-family: "Jura", sans-serif;
	font-size: 1rem;
}

textarea {
	min-height: 100px;
	resize: vertical;
}

button[type="submit"] {
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 50px;
	padding: 0.8rem 2rem;
	font-size: 1.2rem;
	cursor: pointer;
	box-shadow: 0 4px 6px var(--shadow-color);
	transition: background-color 0.3s ease, transform 0.2s ease;
	width: 100%;
}

.status-message {
	margin-top: 1rem;
	text-align: center;
	font-weight: 600;
}

.success {
	color: green;
}

.error {
	color: red;
}

@media (min-width: 768px) {
	h1 {
		font-size: 2.5rem;
	}
	main {
		max-width: 60vw;
	}
	.form-container {
		max-width: 60vw;
	}
	.all-jokes {
		flex-direction: row;
		flex-wrap: wrap;
		& .joke {
			flex: 1 1 calc(40% - 2rem);
			margin: 1rem;
		}
	}
}
